# üìä Database Table Copy Notebook

This notebook copies tables from a source SQLite database to the intake-crm.db database.

**Features:**
- Interactive table selection
- Multiple copy modes (replace, append, skip duplicates)
- Schema inspection and creation
- Progress tracking and validation

## üìÅ Configuration

Set your database paths and preferences here:

In [4]:
import sqlite3
import pandas as pd
from pathlib import Path
from typing import List, Tuple, Dict, Any

# Configuration - Update these paths
SOURCE_DB = r"C:\Users\ChristopherCato\OneDrive - clarity-dx.com\code\monolith\monolith.db"  # Change this to your source database
DEST_DB = r"C:\Users\ChristopherCato\OneDrive - clarity-dx.com\code\intake-crm\intake-crm.db"  # Your intake CRM database

# Tables you want to copy (update this list)
TABLES_TO_COPY = ["providers", "ppo"]  # Change these to your actual table names

# Copy mode: 'replace', 'append', or 'skip_existing'
COPY_MODE = "replace"

print(f"üìÅ Source Database: {SOURCE_DB}")
print(f"üìÅ Destination Database: {DEST_DB}")
print(f"üìã Tables to Copy: {TABLES_TO_COPY}")
print(f"üîÑ Copy Mode: {COPY_MODE}")

üìÅ Source Database: C:\Users\ChristopherCato\OneDrive - clarity-dx.com\code\monolith\monolith.db
üìÅ Destination Database: C:\Users\ChristopherCato\OneDrive - clarity-dx.com\code\intake-crm\intake-crm.db
üìã Tables to Copy: ['providers', 'ppo']
üîÑ Copy Mode: replace

## üîç Database Inspection

Let's first examine what tables are available in the source database:

In [5]:
def list_tables_with_info(db_path: str) -> pd.DataFrame:
    """Get a DataFrame with table information."""
    if not Path(db_path).exists():
        print(f"‚ùå Database not found: {db_path}")
        return pd.DataFrame()
    
    conn = sqlite3.connect(db_path)
    
    # Get table names
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name")
    tables = [row[0] for row in cursor.fetchall()]
    
    # Get info for each table
    table_info = []
    for table in tables:
        cursor.execute(f"SELECT COUNT(*) FROM {table}")
        row_count = cursor.fetchone()[0]
        
        cursor.execute(f"PRAGMA table_info({table})")
        columns = cursor.fetchall()
        column_count = len(columns)
        
        table_info.append({
            'Table Name': table,
            'Row Count': row_count,
            'Column Count': column_count
        })
    
    conn.close()
    return pd.DataFrame(table_info)

# Show source database tables
print("üìã Tables in Source Database:")
source_tables = list_tables_with_info(SOURCE_DB)
display(source_tables)

üìã Tables in Source Database:

                      Table Name  Row Count  Column Count
0               AdjustmentReason          0             4
1                   BillLineItem       2643            12
2                           EOBR          0             6
3                    FeeSchedule          0             6
4                   ProviderBill       1390            19
5               ReimbursementLog          0             5
6               assignment_email          0            11
7   assignment_email_attachments          0             7
8      assignment_email_category          0             2
9                     auth_group          0             2
10        auth_group_permissions          0             3
11               auth_permission         24             4
12                     auth_user          4            11
13              auth_user_groups          0             3
14    auth_user_user_permissions         20             3
15                   bill_status          0             4
16                      dim_proc        262             6
17              django_admin_log          6             8
18           django_content_type          6             3
19             django_migrations         18             4
20                django_session          4             3
21                   import_test         10             2
22              order_line_items      41311            19
23                        orders      28749            29
24                           ota        146             4
25                           ppo      19430             9
26                     providers       2296            91
27               sqlite_sequence          8             2

In [6]:
# Show destination database tables (if it exists)
print("üìã Tables in Destination Database:")
dest_tables = list_tables_with_info(DEST_DB)
if not dest_tables.empty:
    display(dest_tables)
else:
    print("üÜï Destination database is empty or doesn't exist")

üìã Tables in Destination Database:

        Table Name  Row Count  Column Count
0   email_metadata          4            13
1        referrals          4            39
2  sqlite_sequence          2             2

## üîß Helper Functions

Define functions for table operations:

In [7]:
def get_table_schema(conn: sqlite3.Connection, table_name: str) -> str:
    """Get the CREATE TABLE statement for a table."""
    cursor = conn.cursor()
    cursor.execute("SELECT sql FROM sqlite_master WHERE type='table' AND name=?", (table_name,))
    result = cursor.fetchone()
    if result:
        return result[0]
    else:
        raise ValueError(f"Table '{table_name}' not found")

def table_exists(conn: sqlite3.Connection, table_name: str) -> bool:
    """Check if a table exists."""
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name=?", (table_name,))
    return cursor.fetchone() is not None

def get_table_sample(db_path: str, table_name: str, limit: int = 5) -> pd.DataFrame:
    """Get a sample of data from a table."""
    conn = sqlite3.connect(db_path)
    try:
        df = pd.read_sql_query(f"SELECT * FROM {table_name} LIMIT {limit}", conn)
        return df
    finally:
        conn.close()

def copy_table_data(source_conn: sqlite3.Connection, dest_conn: sqlite3.Connection, 
                   table_name: str, mode: str = "replace") -> Dict[str, int]:
    """Copy data from source table to destination table."""
    source_cursor = source_conn.cursor()
    dest_cursor = dest_conn.cursor()
    
    # Get all data from source table
    source_cursor.execute(f"SELECT * FROM {table_name}")
    rows = source_cursor.fetchall()
    
    if not rows:
        return {"copied": 0, "skipped": 0, "total": 0}
    
    # Get column names
    source_cursor.execute(f"PRAGMA table_info({table_name})")
    columns = [col[1] for col in source_cursor.fetchall()]
    column_list = ", ".join(columns)
    placeholders = ", ".join(["?" for _ in columns])
    
    rows_copied = 0
    rows_skipped = 0
    
    if mode == "replace":
        # Clear destination table first
        dest_cursor.execute(f"DELETE FROM {table_name}")
        dest_cursor.executemany(f"INSERT INTO {table_name} ({column_list}) VALUES ({placeholders})", rows)
        rows_copied = len(rows)
        
    elif mode == "append":
        # Try to insert all rows
        for row in rows:
            try:
                dest_cursor.execute(f"INSERT INTO {table_name} ({column_list}) VALUES ({placeholders})", row)
                rows_copied += 1
            except sqlite3.IntegrityError:
                rows_skipped += 1
    
    elif mode == "skip_existing":
        # Use INSERT OR IGNORE
        dest_cursor.executemany(f"INSERT OR IGNORE INTO {table_name} ({column_list}) VALUES ({placeholders})", rows)
        rows_copied = dest_cursor.rowcount
        rows_skipped = len(rows) - rows_copied
    
    dest_conn.commit()
    return {"copied": rows_copied, "skipped": rows_skipped, "total": len(rows)}

print("‚úÖ Helper functions defined")

‚úÖ Helper functions defined

## üëÄ Preview Source Data

Let's look at sample data from the tables we want to copy:

In [8]:
# Preview data from each table
for table_name in TABLES_TO_COPY:
    print(f"\nüìã Sample data from '{table_name}':")
    try:
        sample_df = get_table_sample(SOURCE_DB, table_name, limit=3)
        if not sample_df.empty:
            display(sample_df)
        else:
            print("   (Empty table)")
    except Exception as e:
        print(f"   ‚ùå Error: {e}")

üìã Sample data from 'providers':

,_g_Dashboard_Provider_Diary,_g_Dashboard_Provider_Status,Address 1 Full,Address Line 1,Address Line 2,All,Angiography,Arthrogram,Billing Address 1,Billing Address 2,...,ServicesProvided,State,Status,TIN,US,Website,Wide Bore,xlink,Xray,flag_is_hospital
0,0.0,162.0,"3000 WEST MACARTHUR BLVD STE 600\nSANTA ANA, C...",3000 WEST MACARTHUR BLVD,STE 600,Yes,None,No,PO Box 826618,None,...,- High Field Closed MRI - Xray - MRA - - - ...,CA,Inactive,833563413,Yes,None,None,None,Yes,No
1,0.0,162.0,"2777 JEFFERSON ST STE\nCARLSBAD, CA 92008",2777 JEFFERSON ST,STE,Yes,No,No,None,None,...,- - - - - - - - - - - - - - - ...,CA,Active,833563413,No,None,No,None,No,No
2,0.0,162.0,"9191 WESTMINSTER AVE STE. 209\nGARDEN GROVE, C...",9191 WESTMINSTER AVE,STE. 209,Yes,No,No,None,None,...,- - - - - - - - - - - - - - - ...,CA,Active,833563413,No,None,No,None,No,No

üìã Sample data from 'ppo':

,id,RenderingState,TIN,provider_name,proc_cd,modifier,proc_desc,proc_category,rate
0,1,None,262562595,"A-1 Imaging Centers, LLC",74181,None,MRI ABDOMEN W/O DYE,MRI w/o,285
1,2,None,262562595,"A-1 Imaging Centers, LLC",70551,None,MRI BRAIN STEM W/O DYE,MRI w/o,285
2,3,None,262562595,"A-1 Imaging Centers, LLC",72141,None,MRI NECK SPINE W/O DYE,MRI w/o,285

## üöÄ Execute Table Copy

Now let's copy the tables:

In [14]:
def copy_table_robust(source_db_path: str, dest_db_path: str, table_name: str, mode: str = "replace") -> bool:
    """Copy a single table from source to destination with robust handling."""
    
    print(f"\nüìã Copying table: {table_name}")
    
    # Connect to databases
    source_conn = sqlite3.connect(source_db_path)
    dest_conn = sqlite3.connect(dest_db_path)
    
    try:
        # Check if source table exists
        if not table_exists(source_conn, table_name):
            print(f"‚ùå Table '{table_name}' not found in source database")
            return False
        
        # Get source table row count
        source_cursor = source_conn.cursor()
        source_cursor.execute(f"SELECT COUNT(*) FROM `{table_name}`")
        source_count = source_cursor.fetchone()[0]
        print(f"   üìä Source rows: {source_count}")
        
        # Check if destination table exists
        if not table_exists(dest_conn, table_name):
            print(f"   üîß Creating table '{table_name}' in destination...")
            
            # Get column info
            source_cursor.execute(f"PRAGMA table_info(`{table_name}`)")
            columns = source_cursor.fetchall()
            
            # Build a simple CREATE TABLE statement without constraints
            column_defs = []
            for col in columns:
                col_id, col_name, col_type, not_null, default_val, is_pk = col
                
                # Always quote column names to handle spaces and special characters
                safe_col_name = f'"{col_name}"'
                
                # Simplify - just use column name and type, ignore constraints
                col_def = f"{safe_col_name} {col_type}"
                column_defs.append(col_def)
            
            # Create table without any constraints to avoid issues
            create_sql = f'CREATE TABLE "{table_name}" ({", ".join(column_defs)})'
            print(f"   üîß Creating with simplified schema...")
            
            dest_conn.execute(create_sql)
            dest_conn.commit()
            print(f"   ‚úÖ Table created")
        else:
            dest_cursor = dest_conn.cursor()
            dest_cursor.execute(f"SELECT COUNT(*) FROM `{table_name}`")
            dest_count_before = dest_cursor.fetchone()[0]
            print(f"   üìä Destination rows (before): {dest_count_before}")
        
        # Copy data in batches to handle large tables
        print(f"   üîÑ Copying data (mode: {mode})...")
        
        # Get column names and quote them all
        source_cursor.execute(f"PRAGMA table_info(`{table_name}`)")
        columns = source_cursor.fetchall()
        
        quoted_column_names = [f'"{col[1]}"' for col in columns]
        column_list = ", ".join(quoted_column_names)
        placeholders = ", ".join(["?" for _ in quoted_column_names])
        
        dest_cursor = dest_conn.cursor()
        
        if mode == "replace":
            # Clear destination table first
            dest_cursor.execute(f'DELETE FROM "{table_name}"')
            dest_conn.commit()
        
        # Copy data in batches
        batch_size = 1000
        offset = 0
        total_copied = 0
        total_skipped = 0
        
        while True:
            # Get batch of data
            source_cursor.execute(f'SELECT * FROM "{table_name}" LIMIT {batch_size} OFFSET {offset}')
            batch_rows = source_cursor.fetchall()
            
            if not batch_rows:
                break
            
            batch_copied = 0
            batch_skipped = 0
            
            if mode == "replace":
                # Simple insert for replace mode
                dest_cursor.executemany(f'INSERT INTO "{table_name}" ({column_list}) VALUES ({placeholders})', batch_rows)
                batch_copied = len(batch_rows)
                
            elif mode == "append":
                # Insert one by one to handle conflicts
                for row in batch_rows:
                    try:
                        dest_cursor.execute(f'INSERT INTO "{table_name}" ({column_list}) VALUES ({placeholders})', row)
                        batch_copied += 1
                    except sqlite3.IntegrityError:
                        batch_skipped += 1
            
            elif mode == "skip_existing":
                # Use INSERT OR IGNORE
                dest_cursor.executemany(f'INSERT OR IGNORE INTO "{table_name}" ({column_list}) VALUES ({placeholders})', batch_rows)
                batch_copied = dest_cursor.rowcount if dest_cursor.rowcount > 0 else len(batch_rows)
                batch_skipped = len(batch_rows) - batch_copied
            
            total_copied += batch_copied
            total_skipped += batch_skipped
            
            dest_conn.commit()
            
            print(f"   üì¶ Batch {offset//batch_size + 1}: {batch_copied} copied, {batch_skipped} skipped")
            
            offset += batch_size
        
        # Show final results
        dest_cursor.execute(f'SELECT COUNT(*) FROM "{table_name}"')
        final_count = dest_cursor.fetchone()[0]
        
        print(f"   ‚úÖ Copy complete:")
        print(f"      Total rows copied: {total_copied}")
        print(f"      Total rows skipped: {total_skipped}")
        print(f"      Final count: {final_count}")
        
        return True
        
    except Exception as e:
        print(f"‚ùå Error copying table '{table_name}': {e}")
        import traceback
        traceback.print_exc()
        return False
    
    finally:
        source_conn.close()
        dest_conn.close()

print("‚úÖ Robust copy function defined")

‚úÖ Robust copy function defined

In [13]:
# Debug the providers table schema
print("üîç Debugging providers table schema:")

source_conn = sqlite3.connect(SOURCE_DB)
try:
    # Get the original schema
    cursor = source_conn.cursor()
    cursor.execute("SELECT sql FROM sqlite_master WHERE type='table' AND name='providers'")
    schema = cursor.fetchone()[0]
    print("\nüìã Original schema:")
    print(schema)
    
    # Get column info
    cursor.execute("PRAGMA table_info(providers)")
    columns = cursor.fetchall()
    print("\nüìã Column details:")
    for col in columns:
        print(f"   {col[1]} ({col[2]}) - Nullable: {not col[3]} - Default: {col[4]} - PK: {col[5]}")
        
finally:
    source_conn.close()

üîç Debugging providers table schema:

üìã Original schema:
CREATE TABLE "providers" (
"_g_Dashboard_Provider_Diary" REAL,
  "_g_Dashboard_Provider_Status" REAL,
  "Address 1 Full" TEXT,
  "Address Line 1" TEXT,
  "Address Line 2" TEXT,
  "All" TEXT,
  "Angiography" TEXT,
  "Arthrogram" TEXT,
  "Billing Address 1" TEXT,
  "Billing Address 2" TEXT,
  "Billing Address City" TEXT,
  "Billing Address Postal Code" TEXT,
  "Billing Address State" TEXT,
  "Billing Name" TEXT,
  "Bone Density" TEXT,
  "Breast MRI" TEXT,
  "City" TEXT,
  "Contract Date" TEXT,
  "Contract Date Renewal" TEXT,
  "Country" TEXT,
  "CreatedBy" TEXT,
  "CreationTimestamp" TEXT,
  "CT" TEXT,
  "CT W" TEXT,
  "CT WO" TEXT,
  "CT WWO" TEXT,
  "CTA" TEXT,
  "DBA Name Billing Name" TEXT,
  "Description" TEXT,
  "Dexa" TEXT,
  "Diary Date" TEXT,
  "distance" TEXT,
  "Echo" TEXT,
  "EKG" TEXT,
  "Email" TEXT,
  "EMG" TEXT,
  "Fax Number" TEXT,
  "Fluroscopy" TEXT,
  "ForeignKey" TEXT,
  "g_lat" TEXT,
  "g_lon" TEXT,
  "High Field Closed MRI" TEXT,
  "ImportIndex" TEXT,
  "lat" TEXT,
  "Latitude" TEXT,
  "Location" TEXT,
  "lon" TEXT,
  "Longitude" TEXT,
  "Magnet Strength Closed Tensile High Field" TEXT,
  "Magnet Strength MRA Tensil" TEXT,
  "Magnet Strength Open Tensile" TEXT,
  "Mammo" TEXT,
  "ModificationTimestamp" TEXT,
  "ModifiedBy" TEXT,
  "MRA" TEXT,
  "MRI 1.5T" TEXT,
  "MRI 3.0T" TEXT,
  "MRI Open" TEXT,
  "MRI W" TEXT,
  "MRI Wide Bore" TEXT,
  "MRI WO" TEXT,
  "MRI WWO" TEXT,
  "Name" TEXT,
  "Need OTA" TEXT,
  "NPI" TEXT,
  "NUC Medicine" TEXT,
  "OrderForeignKey" TEXT,
  "Other Service" TEXT,
  "Parent" TEXT,
  "ParentKey" TEXT,
  "ParentSearch" TEXT,
  "PET" TEXT,
  "Phone" TEXT,
  "Postal Code" TEXT,
  "Pricing Group" TEXT,
  "Primary" TEXT,
  "PrimaryKey" TEXT,
  "Provider Network" TEXT,
  "Provider Status" TEXT,
  "Provider Type" TEXT,
  "Record Status" TEXT,
  "ServicesProvided" TEXT,
  "State" TEXT,
  "Status" TEXT,
  "TIN" TEXT,
  "US" TEXT,
  "Website" TEXT,
  "Wide Bore" TEXT,
  "xlink" TEXT,
  "Xray" TEXT
, "flag_is_hospital"	TEXT)

üìã Column details:
   _g_Dashboard_Provider_Diary (REAL) - Nullable: True - Default: None - PK: 0
   _g_Dashboard_Provider_Status (REAL) - Nullable: True - Default: None - PK: 0
   Address 1 Full (TEXT) - Nullable: True - Default: None - PK: 0
   Address Line 1 (TEXT) - Nullable: True - Default: None - PK: 0
   Address Line 2 (TEXT) - Nullable: True - Default: None - PK: 0
   All (TEXT) - Nullable: True - Default: None - PK: 0
   Angiography (TEXT) - Nullable: True - Default: None - PK: 0
   Arthrogram (TEXT) - Nullable: True - Default: None - PK: 0
   Billing Address 1 (TEXT) - Nullable: True - Default: None - PK: 0
   Billing Address 2 (TEXT) - Nullable: True - Default: None - PK: 0
   Billing Address City (TEXT) - Nullable: True - Default: None - PK: 0
   Billing Address Postal Code (TEXT) - Nullable: True - Default: None - PK: 0
   Billing Address State (TEXT) - Nullable: True - Default: None - PK: 0
   Billing Name (TEXT) - Nullable: True - Default: None - PK: 0
   Bone Density (TEXT) - Nullable: True - Default: None - PK: 0
   Breast MRI (TEXT) - Nullable: True - Default: None - PK: 0
   City (TEXT) - Nullable: True - Default: None - PK: 0
   Contract Date (TEXT) - Nullable: True - Default: None - PK: 0
   Contract Date Renewal (TEXT) - Nullable: True - Default: None - PK: 0
   Country (TEXT) - Nullable: True - Default: None - PK: 0
   CreatedBy (TEXT) - Nullable: True - Default: None - PK: 0
   CreationTimestamp (TEXT) - Nullable: True - Default: None - PK: 0
   CT (TEXT) - Nullable: True - Default: None - PK: 0
   CT W (TEXT) - Nullable: True - Default: None - PK: 0
   CT WO (TEXT) - Nullable: True - Default: None - PK: 0
   CT WWO (TEXT) - Nullable: True - Default: None - PK: 0
   CTA (TEXT) - Nullable: True - Default: None - PK: 0
   DBA Name Billing Name (TEXT) - Nullable: True - Default: None - PK: 0
   Description (TEXT) - Nullable: True - Default: None - PK: 0
   Dexa (TEXT) - Nullable: True - Default: None - PK: 0
   Diary Date (TEXT) - Nullable: True - Default: None - PK: 0
   distance (TEXT) - Nullable: True - Default: None - PK: 0
   Echo (TEXT) - Nullable: True - Default: None - PK: 0
   EKG (TEXT) - Nullable: True - Default: None - PK: 0
   Email (TEXT) - Nullable: True - Default: None - PK: 0
   EMG (TEXT) - Nullable: True - Default: None - PK: 0
   Fax Number (TEXT) - Nullable: True - Default: None - PK: 0
   Fluroscopy (TEXT) - Nullable: True - Default: None - PK: 0
   ForeignKey (TEXT) - Nullable: True - Default: None - PK: 0
   g_lat (TEXT) - Nullable: True - Default: None - PK: 0
   g_lon (TEXT) - Nullable: True - Default: None - PK: 0
   High Field Closed MRI (TEXT) - Nullable: True - Default: None - PK: 0
   ImportIndex (TEXT) - Nullable: True - Default: None - PK: 0
   lat (TEXT) - Nullable: True - Default: None - PK: 0
   Latitude (TEXT) - Nullable: True - Default: None - PK: 0
   Location (TEXT) - Nullable: True - Default: None - PK: 0
   lon (TEXT) - Nullable: True - Default: None - PK: 0
   Longitude (TEXT) - Nullable: True - Default: None - PK: 0
   Magnet Strength Closed Tensile High Field (TEXT) - Nullable: True - Default: None - PK: 0
   Magnet Strength MRA Tensil (TEXT) - Nullable: True - Default: None - PK: 0
   Magnet Strength Open Tensile (TEXT) - Nullable: True - Default: None - PK: 0
   Mammo (TEXT) - Nullable: True - Default: None - PK: 0
   ModificationTimestamp (TEXT) - Nullable: True - Default: None - PK: 0
   ModifiedBy (TEXT) - Nullable: True - Default: None - PK: 0
   MRA (TEXT) - Nullable: True - Default: None - PK: 0
   MRI 1.5T (TEXT) - Nullable: True - Default: None - PK: 0
   MRI 3.0T (TEXT) - Nullable: True - Default: None - PK: 0
   MRI Open (TEXT) - Nullable: True - Default: None - PK: 0
   MRI W (TEXT) - Nullable: True - Default: None - PK: 0
   MRI Wide Bore (TEXT) - Nullable: True - Default: None - PK: 0
   MRI WO (TEXT) - Nullable: True - Default: None - PK: 0
   MRI WWO (TEXT) - Nullable: True - Default: None - PK: 0
   Name (TEXT) - Nullable: True - Default: None - PK: 0
   Need OTA (TEXT) - Nullable: True - Default: None - PK: 0
   NPI (TEXT) - Nullable: True - Default: None - PK: 0
   NUC Medicine (TEXT) - Nullable: True - Default: None - PK: 0
   OrderForeignKey (TEXT) - Nullable: True - Default: None - PK: 0
   Other Service (TEXT) - Nullable: True - Default: None - PK: 0
   Parent (TEXT) - Nullable: True - Default: None - PK: 0
   ParentKey (TEXT) - Nullable: True - Default: None - PK: 0
   ParentSearch (TEXT) - Nullable: True - Default: None - PK: 0
   PET (TEXT) - Nullable: True - Default: None - PK: 0
   Phone (TEXT) - Nullable: True - Default: None - PK: 0
   Postal Code (TEXT) - Nullable: True - Default: None - PK: 0
   Pricing Group (TEXT) - Nullable: True - Default: None - PK: 0
   Primary (TEXT) - Nullable: True - Default: None - PK: 0
   PrimaryKey (TEXT) - Nullable: True - Default: None - PK: 0
   Provider Network (TEXT) - Nullable: True - Default: None - PK: 0
   Provider Status (TEXT) - Nullable: True - Default: None - PK: 0
   Provider Type (TEXT) - Nullable: True - Default: None - PK: 0
   Record Status (TEXT) - Nullable: True - Default: None - PK: 0
   ServicesProvided (TEXT) - Nullable: True - Default: None - PK: 0
   State (TEXT) - Nullable: True - Default: None - PK: 0
   Status (TEXT) - Nullable: True - Default: None - PK: 0
   TIN (TEXT) - Nullable: True - Default: None - PK: 0
   US (TEXT) - Nullable: True - Default: None - PK: 0
   Website (TEXT) - Nullable: True - Default: None - PK: 0
   Wide Bore (TEXT) - Nullable: True - Default: None - PK: 0
   xlink (TEXT) - Nullable: True - Default: None - PK: 0
   Xray (TEXT) - Nullable: True - Default: None - PK: 0
   flag_is_hospital (TEXT) - Nullable: True - Default: None - PK: 0

In [16]:
# Retry copying both tables with the robust function
print("üîÑ Retrying table copy with robust handling...")

success_count = 0
for table_name in TABLES_TO_COPY:
    if copy_table_robust(SOURCE_DB, DEST_DB, table_name, COPY_MODE):
        success_count += 1

print(f"\nüìä Final Copy Summary:")
print(f"   Total tables: {len(TABLES_TO_COPY)}")
print(f"   Successfully copied: {success_count}")
print(f"   Failed: {len(TABLES_TO_COPY) - success_count}")

if success_count == len(TABLES_TO_COPY):
    print(f"‚úÖ All tables copied successfully!")
else:
    print(f"‚ö†Ô∏è  Some tables still failed")

üîÑ Retrying table copy with robust handling...

üìã Copying table: providers
   üìä Source rows: 2296
   üìä Destination rows (before): 0
   üîÑ Copying data (mode: replace)...
   üì¶ Batch 1: 1000 copied, 0 skipped
   üì¶ Batch 2: 1000 copied, 0 skipped
   üì¶ Batch 3: 296 copied, 0 skipped
   ‚úÖ Copy complete:
      Total rows copied: 2296
      Total rows skipped: 0
      Final count: 2296

üìã Copying table: ppo
   üìä Source rows: 19430
   üìä Destination rows (before): 19430
   üîÑ Copying data (mode: replace)...
   üì¶ Batch 1: 1000 copied, 0 skipped
   üì¶ Batch 2: 1000 copied, 0 skipped
   üì¶ Batch 3: 1000 copied, 0 skipped
   üì¶ Batch 4: 1000 copied, 0 skipped
   üì¶ Batch 5: 1000 copied, 0 skipped
   üì¶ Batch 6: 1000 copied, 0 skipped
   üì¶ Batch 7: 1000 copied, 0 skipped
   üì¶ Batch 8: 1000 copied, 0 skipped
   üì¶ Batch 9: 1000 copied, 0 skipped
   üì¶ Batch 10: 1000 copied, 0 skipped
   üì¶ Batch 11: 1000 copied, 0 skipped
   üì¶ Batch 12: 1000 copied, 0 skipped
   üì¶ Batch 13: 1000 copied, 0 skipped
   üì¶ Batch 14: 1000 copied, 0 skipped
   üì¶ Batch 15: 1000 copied, 0 skipped
   üì¶ Batch 16: 1000 copied, 0 skipped
   üì¶ Batch 17: 1000 copied, 0 skipped
   üì¶ Batch 18: 1000 copied, 0 skipped
   üì¶ Batch 19: 1000 copied, 0 skipped
   üì¶ Batch 20: 430 copied, 0 skipped
   ‚úÖ Copy complete:
      Total rows copied: 19430
      Total rows skipped: 0
      Final count: 19430

üìä Final Copy Summary:
   Total tables: 2
   Successfully copied: 2
   Failed: 0
‚úÖ All tables copied successfully!

## ‚úÖ Verification

Let's verify the copy was successful:

In [11]:
# Show updated destination database tables
print("üìã Final state of destination database:")
final_dest_tables = list_tables_with_info(DEST_DB)
display(final_dest_tables)

üìã Final state of destination database:

        Table Name  Row Count  Column Count
0   email_metadata          4            13
1              ppo      19430             9
2        providers          0            91
3        referrals          4            39
4  sqlite_sequence          2             2

In [12]:
# Preview the copied data
for table_name in TABLES_TO_COPY:
    print(f"\nüìã Sample data from copied table '{table_name}':")
    try:
        sample_df = get_table_sample(DEST_DB, table_name, limit=3)
        if not sample_df.empty:
            display(sample_df)
        else:
            print("   (Empty table)")
    except Exception as e:
        print(f"   ‚ùå Error: {e}")

üìã Sample data from copied table 'providers':
   (Empty table)

üìã Sample data from copied table 'ppo':

,id,RenderingState,TIN,provider_name,proc_cd,modifier,proc_desc,proc_category,rate
0,1,None,262562595,"A-1 Imaging Centers, LLC",74181,None,MRI ABDOMEN W/O DYE,MRI w/o,285
1,2,None,262562595,"A-1 Imaging Centers, LLC",70551,None,MRI BRAIN STEM W/O DYE,MRI w/o,285
2,3,None,262562595,"A-1 Imaging Centers, LLC",72141,None,MRI NECK SPINE W/O DYE,MRI w/o,285